* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(248, 100, 125);
    background-repeat: no-repeat;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 50px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
    transform: translate(-50%, -50%);
    box-shadow: -1px 4px 28px 0px black rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.5);
}

.left {
    flex-basis: 60%;
}

form {
    padding: 1rem;
}

h3 {
    margin-top: 1rem;
    color: blue;
}

form input[type="text"] {
    width: 100%;
    padding: 0.5rem 0.6rem;
    margin: 0.5rem 0;
    outline: none;
}

#zip {
    display: flex;
    margin-top: 0.5rem;
}

.button {
    background-color: rgb(3, 3, 44);
    border: black solid 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1, 0.8);
    background-color: green;
}

@media(max-width:440px) {
    .container {
        text-align: center;
        font-size: 15px;
        width: 220px;
    }
    .content header {
        font-size: 20px;
        width: 60%;
    }
    .button {
        width: 40%;
        font-size: 8px;
        text-align: center;
        padding: 8px 16px;
    }
}